@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
            .container {height:200px;}
            .margin_auto {margin: auto;}
            .colorselect { font-size:50px; margin:10px; margin-bottom:20px;}
            .size {font-size:50px; margin:10px; padding-top:5px; margin-bottom:20px;}
            .length_width_Box {display: flex; width:100%; height:150px;}
            .border_none {border:none}
            .hide {visibility: hidden;}
            .numtext {font-size:50px; padding: 5px;}
            .main_area {background-color: rgb(238, 238, 238); margin:auto; padding:20px; height:650px;}
            .second_area {background-color: rgb(238, 238, 238); margin:auto; padding:20px; padding-bottom: 50px; height:230px;}
            .selectbox {width:100%; margin: auto; height:100px; border: 1px solid rgb(184, 4, 4); font-size:40px;}
            .opt{padding: 10px; text-align: center; font-size:40px;}
            .length {margin-top:8px; font-size:45px;}
            .inputbox {height:80px; border: 1px solid rgb(184, 4, 4); margin-left:5px; text-align: right; width:50%; font-size:50px;}
            .length_wrap {float:left; width:50%; height:100px;}
            .width_wrap {float:right; width:50%}
            .small_text {font-size:small; opacity: 0.5; padding: 10px; font-size: 30px;}
            /* .calculate {display: flex;
            flex-direction: column; height:100px; margin-top: 20px; justify-content: center; padding-left: 30%; padding-bottom: 10px; padding-top: 50px;}  */
            .calculate {height:120px; margin-top: 20px; width:100%; padding-bottom: 10px; padding-top: 80px;} 
            .cal_btn {height: 100%; background-color: rgb(3, 199, 91); width:100%; border: 0px; border-radius: 5px; color: white; font-size: 40px;}
            .margin_between {margin-top:40px;}
            .price_info {background-color: rgb(241, 241, 241); height:100px; padding: 10px; border: 1px solid darkgray;}
            .output_opt {background-color: rgb(241, 241, 241); font-size: 50px; font-family: 'NanumSquare', sans-serif; width:100%; height:100%;}
            .pi1 {width:500px;  height:100%;}
            .btn_set {margin:0; height:100%; padding-top:20px; width:30%;}
            .ctn_num {width:80px; text-align: center; background-color: rgb(238, 238, 238); font-family: 'NanumSquare', sans-serif; font-size:50px; height:60px; margin-right:20px;}
            .btn_price_x {height:100%; padding-top: 50px; width:100%;}
            .sub_btn {height:60px; width:60px; font-size:50px; margin-right:20px; text-align: center;background-color: rgb(238, 238, 238);}
            .output_class_upper {width:50%;}
            /* .x_button_upper {width:10%;} */
            .output_class {text-align: right; background-color: rgb(238, 238, 238);font-family: 'NanumSquare', sans-serif; font-size:50px; width:45%;}
            .x_button {font-size:50px; float:right; width:5%;}
            .cnt_btn {height:100%;}
            .total_price {background-color: rgb(79, 90, 112); color: white; padding: 20px; height:100px;}
            .total_price1 {font-size: 50px; float:left; padding-top:20px; width:20%;}
            .total_price2 {font-size: 50px; padding-top:20px; width:80%;float:right; }
            .freeship_plus {width:40%; margin-left:10%;}
            .output3 {background-color: rgb(79, 90, 112); color: white; font-size: 50px; font-family: 'NanumSquare', sans-serif; text-align: right; width:50%; float:right;}
            .unit {background-color: rgb(33, 44, 64); color: white; padding: 20px; height:100px;}
            .unit1 {font-size: 50px; float:left; padding-top:20px;}
            .unit2 {font-size: 50px; float:right; padding-top:20px;}
            .unit3 {text-align: right; background-color: rgb(33, 44, 64); color: white;font-size: 50px; font-family: 'NanumSquare', sans-serif; width:400px;}
            .total_area {width: 860px; border:2px dashed; padding:5px; margin: 0 auto;}
            .pok {padding-left: 10px;}
            body {font-family: 'NanumSquare', sans-serif;}